@model ProductDto

@{
    ViewData["Title"] = "Product Form";
}

@*<h2>@(Model.ItemCardId > 0 ? "Edit" : "Create") Product</h2>

*@<h2>Create Product</h2>


<hr />
<section class="row justify-content-between">
    <div class="col-md-5">
@*        <form method="POST" asp-action="@(Model.ItemCardId > 0 ? "Edit" : "Create")" enctype="multipart/form-data">
*@        <form method="POST" asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="ItemCardId" />
            <div class="form-group mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِArabic Product Name</label>
                <input type="text" class="form-control" asp-for="ItemDescA" maxlength="300">
                <span asp-validation-for="ItemDescA" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِEnglish Product Name</label>
                <input type="text" class="form-control" asp-for="ItemDescE" maxlength="300">
                <span asp-validation-for="ItemDescE" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِArabic Product Description</label>
                <div class="form-floating">
                    <textarea class="form-control" style="height:100px" asp-for="ProductDescA" placeholder="" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Arabic Product Description</label>
                    <span asp-validation-for="ProductDescA" class="text-danger"></span>

                </div>

            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِEnglish Product Description</label>
                <div class="form-floating">
                    <textarea class="form-control" style="height:100px" asp-for="ProductDescE" placeholder="" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">English Product Description</label>
                    <span asp-validation-for="ProductDescE" class="text-danger"></span>

                </div>

            </div>

            <div class="form-group mb-2">
                <label class="text-muted" asp-for="BrandId"></label>
                <select class="form-control" asp-for="BrandId" asp-items="@(new SelectList(Model.Brands,"BrandId","DescA"))" style="background-color: #ffffff;">
                    <option>Select...</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="text-muted" asp-for="ItemCategoryId"></label>
                <select class="form-control" asp-for="ItemCategoryId" asp-items="@(new SelectList(Model.Categories,"ItemCategoryId","ItemCatDescA"))" style="background-color: #ffffff;">
                    <option>Select...</option>
                </select>
                <span asp-validation-for="ItemCategoryId" class="text-danger"></span>
            </div>
          @*   <div class="form-group w-50 mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِQuantity</label>
                <input type="number" class="form-control" asp-for="QtyPartiation" value="@(Model.QtyPartiation > 0 ? Model.QtyPartiation : " ")">
                <span asp-validation-for="QtyPartiation" class="text-danger"></span>
            </div>*@

            <div class="form-group w-50 mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِTotal Cost</label>
                <input type="number" class="form-control" asp-for="TotalCost" value="@(Model.TotalCost > 0 ? Model.TotalCost : " ")">
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mb-2">
                <label for="exampleInputEmail1" class="form-label text-muted">ِDiscount</label>
                <input type="number" class="form-control" asp-for="Discount" value="@(Model.Discount > 0 ? Model.Discount : " ")">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
           
            <div class="form-group mb-3">
                <label  class="form-label" asp-for="UploadFile">Select Image</label>
                <input class="form-control" type="file" name="UploadFile" asp-for="UploadFile" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="UploadFile2">Select Image 2</label>
                <input class="form-control" type="file" name="UploadFile2" asp-for="UploadFile2" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile2" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="UploadFile3">Select Image 3</label>
                <input class="form-control" type="file" name="UploadFile3" asp-for="UploadFile3" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile3" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="UploadFile4">Select Image 4</label>
                <input class="form-control" type="file" name="UploadFile4" asp-for="UploadFile4" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile4" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="UploadFile5">Select Image 5</label>
                <input class="form-control" type="file" name="UploadFile5" asp-for="UploadFile5" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile5" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="UploadFile4">Select Image 6</label>
                <input class="form-control" type="file" name="UploadFile6" asp-for="UploadFile6" style="background-color: #ffffff;" accept=".png, .jpg,.jpeg,.tiff,.gif">
                <span asp-validation-for="UploadFile6" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i> Save</button>
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-x"></i> Cancel</a>
        </form>
    </div>

  

    <div class="col-md-5">
        <div id="poster-container" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="image" class="img-thumbnail"/>
        </div>
        <div id="poster-container2" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="imagePath2" class="img-thumbnail" />
        </div>
        <div id="poster-container3" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="imagePath3" class="img-thumbnail" />
        </div>
        <div id="poster-container4" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="imagePath4" class="img-thumbnail" />
        </div>
        <div id="poster-container5" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="imagePath5" class="img-thumbnail" />
        </div>
        <div id="poster-container6" class="d-none mt-3">
            <img style="width:400px;height:200px;" src="" alt="imagePath6" class="img-thumbnail" />
        </div>
    </div>
 </section>

 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        // <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#UploadFile').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag'+image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
        $(document).ready(function () {
            $('#UploadFile2').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container2');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag' + image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
        $(document).ready(function () {
            $('#UploadFile3').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container3');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag' + image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
        $(document).ready(function () {
            $('#UploadFile4').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container4');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag' + image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
        $(document).ready(function () {
            $('#UploadFile5').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container5');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag' + image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
        $(document).ready(function () {
            $('#UploadFile6').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                var posterContainer = $('#poster-container6');
                var image = window.URL.createObjectURL(this.files[0]);
                console.log('imag' + image);
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', image);
            });
        });
    </script>
}