@model IPagedList<SrBrand>

@{
    ViewData["Title"] = "Our Brands";

}
<link href="~/content/pagedlist.css" rel="stylesheet" />

<h2>View All Brands</h2>
<hr />


<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            no Brand Found!
        </div>
    }
    else
    {
        <form id="frmCreate" method="post" asp-action="IndexFilter">
            <div class="row d-flex justify-content-end">

                <div class="col-md-2">
                    <div class="mb-3 custom-form mt-4">
                        <a class="btn btn-outline-secondary" asp-action="index">إلغاء</a>

                        <button type="submit" class="btn btn-primary">بحث </button>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="mb-3 custom-form">
                        <label for="productname" class="d-flex justify-content-end">ابحث  باسم البراند</label>
                        <select name="DescA" id="DescA" class="form-control select2" style="direction:rtl;background-color:white;">
                            <option></option>
                            @foreach (var brand in Model)
                            {
                                @if (ViewBag.SelectedDescA == brand.DescA)
                                {
                                    <option selected>@brand.DescA</option>
                                }else
                                {
                                    <option>@brand.DescA</option>
                                }

 
                            }
                        </select>
                    </div>
                </div>
               
            </div>
        </form>


        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Brand Arabic Name</th>
                        <th scope="col">Brand English Name</th>
                        <th scope="col">Brand image</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var brand in Model)
                    {
                        <tr class="p">
                            <td>@brand.DescA</td>
                            <td>@brand.DescE</td>
                            <td class="d-flex justify-content-center">
                                @if (brand.ImagePath != null)
                                {
                                    <img src="~/uploads/@brand.ImagePath" style="max-width:100px;" alt="" class="img-thumbnail" />
                                }
                                </td>
                            <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-BrandId="@brand.BrandId">Edit</a></td>
                            <td><a href="javascript:;" class="btn btn-sm btn-danger js-delete" data-id="@brand.BrandId">Delete</a></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    }
</div>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex  }) )

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this Brand?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Brand/Delete/' + btn.data('id'),
                                success: function () {
                                    var movieContainer = btn.parents('.p');
                                    movieContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        movieContainer.remove();
                                    }, 1000);

                                    toastr.success('Brand Deleted');
                                },
                                error: function () {
                                    toastr.error('!لايمكنك مسح هذا البراند لانه مرتبط بمنتج');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}

@*@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);
                console.log(btn.data('id'));

                //var result = confirm("Are you sure that you need to delete this Brand ?");
              
              


                if(result){
                    $.ajax({
                        url:'/Brand/Delete/' + (btn.data('id')),
                        success: function () {
                            btn.parents('.p').fadeOut();
                            toastr.success('Brand deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }
            });
        });
    </script>

}*@